* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.about-container {
  margin: 20px;
}

.welcome-about {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.welcome-text {
  display: flex;
  flex-direction: column;
}

.vision-text {
  display: flex;
  flex-direction: column;
}
.offer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}
.contact {
  text-align: center;
}
