/* CSS */.cancel,
.like {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cancel {
  background: linear-gradient(220deg, #F1487F 14.09%, #B6013C 86.94%);
}


.like{
  background: linear-gradient(220deg, #6E46F5 14.09%, hsl(254, 91%, 54%) 86.94%);
}

.cancel:hover {
  background: linear-gradient(220deg, #f33675 14.09%, #7d042c 86.94%);
  transform: scale(1.1);
}


.like:hover {
  background-color: rgb(204, 151, 253);
  transform: scale(1.1); 
}

  .card-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 57px;
    margin-right: 72px;
    margin-top: 32px;
    width: 198px;
    border: none;
  }