.contact-container {
  margin: 20px;
}

.contact-text {
  flex: 1;
  padding: 20px;
  text-align: center;
}
.contact-text hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40px;
  border: none;
  border-top: 3px solid #6e46f5;
  margin-left: auto;
  margin-right: auto;
}
.contact-form {
  flex: 1;
  padding: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none; /* Remove all borders */
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  font-size: 16px;
  outline: none; /* Remove the default input focus outline */
  background-color: transparent; /* Remove the white background */
}

.btn-register {
  margin-top: 24px;
  margin-bottom: 16px;
  background-color: #6e46f5;
  border-radius: 2px;
  width: 100%;
  height: 48px;
  border: none;
}
