.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.app-name {
  display: flex;
}
