.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 20px 24px 20px;
  /* border-bottom: 1px #dddddd solid; */
}

.app-name {
  display: flex;
}

.nav-profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.nav-profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
