.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin: 24px 20px 0 20px;
  border-bottom: 1px #DDDDDD solid;
}

.app-name {
  display: flex;
}
