.chatContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    padding-left: 20px; /* Added padding to the left */
    border: solid 1px #e6e6e6;
  }
  .userMessagesTitle {
    background-color: #fff;
    padding-left: 20px;
  }
  .chatButton {
    width: 70px;
    height: 40px;
    background-color: #6e46f5;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
  }
  
  .company-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover; /* Ensure the image covers the entire circle */
    object-fit: cover; 
  }
  
  .newMessageCircle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: none; /* Initially hide the red circle */
  }
  
  .hasNewMessage .newMessageCircle {
    display: block; /* Show the red circle when there is a new message */
  }
  