/* CSS for the sidebar */
.sidebar-component{
    width: 25%; /* Width for larger screens */
    background-color: #F4F4F4;
    color: #827a7a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    overflow-y: auto; 
  }

.sidebar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
  /* Media query for small screens (e.g., mobile) */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack content on top of the sidebar */
    }
  
    .sidebar-component {
      display: none; /* Hide the sidebar on mobile screens */
    }
  }
  