/* complete.css */
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    
}
  .form-section {
    display: block;
    margin-bottom: 20px;
  }
  
  .form-section label {
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    border-radius: 3px;
    font-size: 16px;
    background: transparent;
  }
  
  .form-section .next,
  .form-section .previous,
  .form-section .submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .form-section .next:hover,
  .form-section .previous:hover,
  .form-section .submit:hover {
    background-color: #0056b3;
  }
  
  .form-section .previous {
    background-color: #ccc;
    color: #333;
  }
  
  .form-section .previous:hover {
    background-color: #999;
  }
  