/* complete.css */
.complete-profile-main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.complete-profile-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complete-profile-bar-nav {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.complete-profile-bar-nav img {
  margin-left: 10px;
  cursor: pointer;
}

.complete-profile-bar-div {
  width: calc(100% - 40px);
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid #dedede;
}

.profile-form {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px;
}

.fields-form {
  margin-bottom: 10px;
}

.field-input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.add-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.profilePhoto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* Add more CSS styling as needed */
