.user-dash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.user-dash-box {
  position: relative;
  width: 300px;
  height: 250px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
