.user-photo{
    width: calc(100% - 40px);
    margin-top: 24px;
    margin-bottom: 16px;
    border-radius: 10px;
    height: 231px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 25%;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);;
}

.gradient-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #222 0.07%, rgba(34, 34, 34, 0.65) 52.9%, rgba(34, 34, 34, 0.00) 99.93%);
    border-radius: 10px;
    overflow: hidden; 
}

.user-image{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
}
.position-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    align-items: center;
    width: fit-content;
    padding: 10px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #222;
    background: rgba(244, 244, 244, 0.30);
    margin-top: 12px;
}
.email-adress{
    margin-left: 8px;
}

.skills{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}
.skills-tabs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 8px;
    
}
.skill-tab-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 8px;
    align-items: center;
    width: fit-content;
    padding: 10px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #222;
    background: rgba(244, 244, 244, 0.30);
    margin-top: 12px;
}

.experiences{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 24px;
}
.exp-info{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.exp-content{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
}

.exp-pic{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #999;
    background-size: cover;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 27px;
}
.project-link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
}