body{
    background: #F4F4F4;
    font-family: 'Open Sans', sans-serif;
}
.button-row {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 24px;
    display: flex; /* Change to flex display */
    gap: 8px;
    overflow-x: auto;
  
  }

.card-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 57px;
    margin-right: 72px;
    margin-top: 32px;
    width: 198px;
  }