.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    height: 65px;
  }
  
.footer-component {
    position: sticky;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #fff;
  }