.terms-container {
  margin: 20px;
  flex-direction: column;
  justify-content: space-evenly;
}

.terms-of-service {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  margin-bottom: 20px;
}

.terms-of-privacy > div {
  margin-bottom: 20px;
}
.terms-of-service > div {
  margin-bottom: 20px;
}

.terms-1 {
  display: flex;
}
